@tailwind base;
@tailwind components;

html {
  @apply
    scroll-pt-10
  ;
}

body {
  @apply
    antialiased
  ;
}

.router-link-exact-active {
  @apply
    !text-brand-teal
    after:!left-0 after:!w-full after:!bg-brand-teal
    hover:after:!w-full
  ;
}

@layer components {
  .inline-link {
    @apply
      inline-flex
      pb-0.5
      border-b-2 border-brand-orange
      text-brand-slate-lighter
      transition-colors
      hover:border-brand-purple hover:text-brand-slate-lightest
      focus-visible:border-transparent focus-visible:rounded-md
    ;
  }
}

@layer utilities {
  .custom-focus {
    @apply
      focus:outline-none
      focus-visible:ring-2 focus-visible:ring-brand-orange focus-visible:ring-offset-2 focus-visible:ring-offset-brand-black
    ;
  }

  .custom-underline {
    @apply
      relative
      transition-colors ease-in-out duration-300
      hover:text-brand-orange
      after:content-[''] after:absolute after:left-1/2 after:-bottom-2 after:w-0 after:h-[1.5px]
      after:bg-brand-orange after:transition-all after:ease-in-out after:duration-300
      hover:after:w-full hover:after:left-0
    ;
  }
}

@tailwind utilities;
